
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // This rule allows an authenticated user to read and write files
    // within a folder named after their own user ID.
    match /{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
