rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Users can read and write to their own top-level folder.
    // This allows them to upload temp files and for the server
    // to write the final processed track.
    match /{userId}/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Tracks inside a user's folder should be publicly readable.
    match /{userId}/tracks/{allPaths=**} {
        allow read;
    }
  }
}
